{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="content profile-page">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Profile</h2>
                </div>            
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">                
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="body bg-dark profile-header">
                        <div class="row">
                            <div class="col-lg-10 col-md-12">
                                <div class="detail">
                                    <div class="u_name">
                                        <h4>Milan Shah</h4>
                                    </div>
                                    <div id="m_area_chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="overview">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-6">
                                <div class="card text-center">
                                    <div class="body">
                                        <i class="zmdi zmdi-thumb-up zmdi-hc-2x"></i>
                                        <h5 class="m-b-0 number count-to" data-from="0" data-to="1203" data-speed="1000" data-fresh-interval="700">1203</h5>
                                        <small>Likes</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-6">
                                <div class="card text-center">
                                    <div class="body">                            
                                        <i class="zmdi zmdi-comment-text zmdi-hc-2x"></i>
                                        <h5 class="m-b-0 number count-to" data-from="0" data-to="324" data-speed="1000" data-fresh-interval="700">324</h5>
                                        <small>Comments</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-6">
                                <div class="card text-center">
                                    <div class="body">
                                        <i class="zmdi zmdi-eye zmdi-hc-2x"></i>
                                        <h5 class="m-b-0 number count-to" data-from="0" data-to="1980" data-speed="1000" data-fresh-interval="700">1980</h5>
                                        <small>Views</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-6">
                                <div class="card text-center">
                                    <div class="body">
                                        <i class="zmdi zmdi-attachment zmdi-hc-2x"></i>
                                        <h5 class="m-b-0 number count-to" data-from="0" data-to="52" data-speed="1000" data-fresh-interval="700">52</h5>
                                        <small>Attachment</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h2><strong>Profile</strong></h2>
                                        <ul class="header-dropdown">
                                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="javascript:void(0);">Update</a></li>
                                                    <li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body">
                                        <small class="text-muted">Address: </small>
                                        <p>6C, BCG Golden Orchids, Ruby Lane, Thammanam, Kochi</p>
                                        <div>
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.3527874479983!2d76.30573181450332!3d9.987689192859579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d251ab43fcf%3A0xfee7af2bf87c9bbb!2sBCG%20Golden%20orchid!5e0!3m2!1sen!2sin!4v1583507923683!5m2!1sen!2sin" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>
                                        <hr>
                                        <small class="text-muted">Email address: </small>
                                        <p>milanshah1@gmail.com</p>
                                        <hr>
                                        <small class="text-muted">Phone: </small>
                                        <p>+91 7356862872</p>
                                        <hr>
                                        <small class="text-muted">Emergency Contact: </small>
                                        <p>+91 9895312216</p>
                                        <hr>
                                        <small class="text-muted">Birth Date: </small>
                                        <p class="m-b-0">April 9, 2000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Info</h2>
                                        <ul class="header-dropdown">
                                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="blog-post.html">New Post</a></li>
                                                    <li><a href="blog-details.html">Post Detail</a></li>
                                                    <li><a href="blog-dashboard.html">Dashboard</a></li>
                                                    <li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="body">
                                        <div class="post-img">
                                            <img src="assets/images/image1.jpg" class="img-fluid" alt="">
                                        </div>                                
                                        <h5 class="m-t-20 m-b-0 post_title">It is a long established fact that a be distracted</h5>                                
                                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>                                
                                        <div class="form-group m-b-0">
                                            <button class="btn btn-info btn-round">Like 5</button>
                                            <button class="btn btn-primary btn-simple btn-round">Reply</button>
                                            <span class="date m-l-20"><i class="zmdi zmdi-alarm"></i> 7min ago</span>
                                        </div>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src={% static "assets/bundles/knob.bundle.js" %}></script> <!-- Jquery Knob Plugin Js -->
<script src={% static "assets/bundles/morrisscripts.bundle.js" %}></script> <!-- Morris Plugin Js --> 
<script src={% static "assets/bundles/fullcalendarscripts.bundle.js" %}></script><!--/ calender javascripts --> 

<!-- <script src={% static "assets/bundles/mainscripts.bundle.js" %}></script> -->
<script src={% static "assets/js/pages/calendar/calendar.js" %}></script>
<script src={% static "assets/js/pages/profile.js" %}></script>
{% endblock %}