{% extends 'base.html' %}
{% load static %}

    {% block body %}
    <section class="content blog-page">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>News</h2>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        <div class="input-group m-b-0">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12">
                    <div class="card single_post">
                        <div class="body">
                            <h3 class="m-t-0 m-b-5"><a>{{new.title}}</a></h3>
                            <ul class="meta">
                                <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Posted By: {{new.author}}</a></li>
                                <li><a href="#"><i class="zmdi zmdi-label col-red"></i>Health</a></li>
                                <li><a href="#"><i class="zmdi zmdi-comment-text col-blue"></i>{{new.pub_date}}</a></li>
                            </ul>
                            <div class="img-post m-b-15">
                                <img src="{{new.image.url}}" alt="Awesome Image">
                                <div class="social_share">
                                    <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-facebook"></i></button>
                                    <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-twitter"></i></button>
                                    <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-instagram"></i></button>
                                </div>
                            </div>
                            <p>{{new.body}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 right-box">
                    <div class="card widget popular-post">
                        <div class="header">
                            <h2><strong>Popular</strong> Posts</h2>
                        </div>
                        {% for news in news.all|slice:"2" %}
                        <div class="body m-b-10">
                            <div class="single_post">
                                <a href="#">
                                    <div class="img-post m-b-5">
                                        <img src="{{news.image.url}}"
                                            alt="Awesome Image">
                                    </div>
                                    <p class="m-b-0">{{news.title}}</p>
                                    <small class="text-muted">{{news.pub_date}}</small>
                                </a>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    <!-- Jquery Core Js -->
    {% block scripts %}
    <script src="{% static 'assets/bundles/libscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js -->
    <script src="{% static 'assets/bundles/vendorscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js -->

    <script src="{% static 'assets/bundles/mainscripts.bundle.js' %}"></script><!-- Custom Js -->
    {% endblock %}