{% extends 'base.html' %}
<h1>{{ room }}</h1>
<br>
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<section class="content chat-app">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Chat - {{ room }}</h2>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-7 col-md-7">
                <div class="card">
                    <div class="body overflowhidden">
                        <div class="chat">
                            <div class="user_detail">
                                <div class="row profile_state">
                                    <div class="col-12">
                                        <small class="text-muted">Email address: </small>
                                        <p>michael@gmail.com</p>
                                        <hr>
                                        <small class="text-muted">Phone: </small>
                                        <p>+ 202-555-9191</p>
                                        <hr>
                                        <small class="text-muted">Mobile: </small>
                                        <p>+ 202-555-2828</p>
                                        <hr>
                                        <small class="text-muted">Birth Date: </small>
                                        <p class="m-b-0">October 22th, 1990</p>
                                        <hr>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-6">
                                        <div class="body">
                                            <i class="zmdi zmdi-thumb-up col-blue"></i>
                                            <h5 class="m-b-0 number count-to" data-from="0" data-to="1203"
                                                data-speed="1000" data-fresh-interval="700">1203</h5>
                                            <small>Likes</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-6">
                                        <div class="body">
                                            <i class="zmdi zmdi-account text-success"></i>
                                            <h5 class="m-b-0 number count-to" data-from="0" data-to="1980"
                                                data-speed="1000" data-fresh-interval="700">1980</h5>
                                            <small>Profile Views</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-6">
                                        <div class="body">
                                            <i class="zmdi zmdi-attachment text-warning"></i>
                                            <h5 class="m-b-0 number count-to" data-from="0" data-to="52"
                                                data-speed="1000" data-fresh-interval="700">52</h5>
                                            <small>Attachment</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-header clearfix">
                                <a href="javascript:void(0);" class="btn-detail"><img
                                        src="{% static 'assets/images/xs/avatar2.jpg' %}" alt="avatar" />
                                    <div class="chat-about">
                                        <div class="chat-with">
                                            {% if user == room.doctor %} 
                                                {{ room.patient.first_name }}
                                            {% else %}
                                                {{ room.doctor.first_name }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <hr>
                            <div class="chat-history clearfix">
                                <ul class="">
                                    {% for chat in chats %}
                                    {% if user == chat.user %}
                                    <li class="clearfix">
                                        <div class="message-data text-right"> <span
                                                class="message-data-time">{{chat.created}}</span> &nbsp; &nbsp; <span
                                                class="message-data-name">Me</span> <i class="zmdi zmdi-circle me"></i>
                                        </div>
                                        <div class="message text-right other-message float-right">{{chat.message}}</div>
                                    </li>
                                    {% else %}
                                    <li>
                                        <div class="message-data">
                                            <span class="message-data-name"><i class="zmdi zmdi-circle online"></i>
                                                {{chat.user.first_name}}</span> <span
                                                class="message-data-time">{{chat.created}}</span>
                                        </div>
                                        <div class="message my-message">
                                            <span>{{chat.message}}</span>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <hr>
                            <div class="chat-message clearfix">
                                <div class="input-group">
                                    <form method="post" class="row" style="width: 100%">{% csrf_token %}
                                        <div class="col-9">
                                            {{ form|crispy }}
                                        </div>
                                        <div class="col-3 mt-4"><input type="submit" class="btn" value="Send"></div>
                                        
                                    </form>
                                    <!-- <input type="text" class="form-control" placeholder="Enter text here..."> -->
                                    <!-- <span class="input-group-addon"><i class="zmdi zmdi-mail-send"></i></span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if user.is_doc %}
                <div class="card">
                    <div class="body">
                        <h5>Notes</h5>
                        <p class="row">
                            <ul>
                                {% for note in notes %}
                                <li>
                                    {{note.note}}
                                </li>
                                {% endfor %}
                            </ul>
                        </p>
                        <form method="post" class="row" style="width: 100%">{% csrf_token %}
                            <div class="col-9">
                                {{ noteform|crispy }}
                            </div>
                            <div class="col-3 mt-4"><input type="submit" class="btn" value="Add Note"></div>
                            
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if user.is_doc %}
            <div class="col-lg-5 col-md-5">
                <div class="row">
                    <div class="card text-center col-6">
                        <div class="body">
                            <h5 class="m-b-0">Stable</h5>
                            <small>Social Media Analysis</small>
                            <br>
                            <small>All activity looks normal</small>
                        </div>
                    </div>
                    <div class="card text-center col-6">
                        <div class="body">
                            <i class="zmdi zmdi-eye zmdi-hc-2x"></i>
                            <h5 class="m-b-0 number count-to" data-from="0"
                                data-to="{{patientData.lifestyle_quiz_score}}" data-speed="1000"
                                data-fresh-interval="700">{{patientData.lifestyle_quiz_score}}</h5>
                            <small>Lifestyle Score</small>
                            <br>
                            <small>You're doing great!</small>
                        </div>
                    </div>
                    <div class="card text-center col-6">
                        <div class="body">
                            <i class="zmdi zmdi-comment-text zmdi-hc-2x"></i>
                            <h5 class="m-b-0 number count-to" data-from="0"
                                data-to="{{patientData.depression_quiz_score}}" data-speed="1000"
                                data-fresh-interval="700">{{patientData.depression_quiz_score}}</h5>
                            <small>Depression Score</small>
                            <br>
                            <small>You're doing great!</small>
                        </div>
                    </div>
                    <div class="card text-center col-6 ">
                        <div class="body">
                            <i class="zmdi zmdi-thumb-up zmdi-hc-2x"></i>
                            <h5 class="m-b-0 number count-to" data-from="0"
                                data-to="{{patientData.anxiety_quiz_score}}" data-speed="1000"
                                data-fresh-interval="700">{{patientData.anxiety_quiz_score}}</h5>
                            <small>Anxiety Score</small>
                            <br>
                            <small>You're doing great!</small>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="body">
                        <h5>Blood Pressure</h5>
                        <div class="row">
                            <div class="col-md-5 col-5">
                                <span>Weekly avg Sys<span>
                                        <h6 class="col-indigo">{{ pressureData.2.sys }}</h6>
                            </div>
                            <div class="col-md-5 col-5">
                                <span>Weekly avg Dia</span>
                                <h6 class="col-indigo">{{ pressureData.2.dia }}</h6>
                            </div>
                        </div>
                        <div class="sparkline" data-type="line" data-spot-Radius="3"
                            data-highlight-Spot-Color="rgb(63, 81, 181)"
                            data-highlight-Line-Color="#222" data-min-Spot-Color="rgb(233, 30, 99)"
                            data-max-Spot-Color="rgb(63, 81, 181)"
                            data-spot-Color="rgb(63, 81, 181, 0.7)" data-offset="90" data-width="100%"
                            data-height="50px" data-line-Width="1" data-line-Color="#3F51B5"
                            data-fill-Color="#7b84b8">
                            {% for data in pressureData %}
                                {{data.sys}},
                            {% endfor %}
                            110
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="body">
                        <h5>Sleep</h5>
                        <div class="row">
                            <div class="col-md-5 col-5">
                                <span>Average deep sleep<span>
                                        <h6 class="col-red">70.40%</h6>
                            </div>
                            <div class="col-md-5 col-5">
                                <span>Average duration</span>
                                <h6 class="col-red">6:59 hrs</h6>
                            </div>
                        </div>
                        <div class="sparkline" data-type="line" data-spot-Radius="2"
                            data-highlight-Spot-Color="rgb(233, 30, 99)"
                            data-highlight-Line-Color="#222" data-min-Spot-Color="rgb(233, 30, 99)"
                            data-max-Spot-Color="rgb(96, 125, 139)"
                            data-spot-Color="rgb(96, 125, 139, 0.7)" data-offset="90" data-width="100%"
                            data-height="50px" data-line-Width="1" data-line-Color="#ec3b57"
                            data-fill-Color="#eb94a2"> 6,4,7,8,4,3,2,2,5,6,7,4,1,5,7,9,9,8,7,6 </div>
                    </div>
                </div>
                <div class="card">
                    <div class="body">
                        <h5>Appetite</h5>
                        <div class="row">
                            <div class="col-md-5 col-5">
                                <span>Overall Appetite<span>
                                        <h6 class="col-green">Good</h6>
                            </div>
                        </div>
                        <div class="sparkline" data-type="line" data-spot-Radius="3"
                            data-highlight-Spot-Color="rgb(233, 30, 99)"
                            data-highlight-Line-Color="#222" data-min-Spot-Color="rgb(233, 30, 99)"
                            data-max-Spot-Color="rgb(120, 184, 62)"
                            data-spot-Color="rgb(120, 184, 62, 0.7)" data-offset="90" data-width="100%"
                            data-height="50px" data-line-Width="1" data-line-Color="#50d38a)"
                            data-fill-Color="#94d3b0">
                            {% for data in foodData %}
                            {{data.appetite}},
                            {% endfor %}
                            4
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}

<script src={% static "assets/bundles/knob.bundle.js" %}></script> <!-- Jquery Knob Plugin Js -->
<script src={% static "assets/bundles/morrisscripts.bundle.js" %}></script> <!-- Morris Plugin Js -->

<!-- <script src={% static "assets/bundles/mainscripts.bundle.js" %}></script> -->
<script src={% static "assets/js/pages/profile.js" %}></script>
<script src={% static "assets/bundles/vendorscripts.bundle.js"%}></script> <!-- Lib Scripts Plugin Js -->

<script src={% static "assets/bundles/sparkline.bundle.js" %}></script> <!-- sparkline Plugin Js -->
<script src={% static "assets/bundles/jvectormap.bundle.js" %}></script> <!-- JVectorMap Plugin Js -->

{% endblock %}