{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="content blog-page">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Events</h2>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">                
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            {%for events in events.all%}
            <div class="col-lg-6 col-md-12">
                <div class="card single_post">
                    <div class="body">
                        <h3 class="m-t-0 m-b-5"><a>{{events.title}}</a></h3>
                        <ul class="meta">
                            <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Posted By: {{events.author}}</a></li>
                            <li><a href="#"><i class="zmdi zmdi-label col-lime"></i>Health</a></li>
                            <li><a href="#"><i class="zmdi zmdi-comment-text col-blue"></i>{{events.pub_date}}</a></li>
                        </ul>
                        <div class="img-post m-b-15 m-t-10">
                            <img src="{{events.image.url}}" alt="Awesome Image">
                            <div class="social_share">                            
                                <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-facebook"></i></button>
                                <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-twitter"></i></button>
                                <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-instagram"></i></button>
                            </div>
                        </div>
                        <p>{{events.summary}}</p>
                        <a href="{% url 'detail' events.id %}" title="read more" class="btn btn-round btn-primary">Read More</a>                        
                    </div>
                </div>
            </div> 
            {%endfor%}    
        </div>
    </div>
</section>
{% endblock %}