{% extends 'base.html' %}
{% load static %}
{% block body %}
    <section class="content blog-page">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Events</h2>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        <div class="input-group m-b-0">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12">
                    <div class="card single_post">
                        <div class="body">
                            <h3 class="m-t-0 m-b-5"><a href="blog-details.html">{{event.title}}</a></h3>
                            <ul class="meta">
                                <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Posted By: {{event.author}}</a></li>
                                <li><a href="#"><i class="zmdi zmdi-label col-red"></i>Health</a></li>
                                <li><a href="#"><i class="zmdi zmdi-comment-text col-blue"></i>{{event.pub_date}}</a></li>
                            </ul>
                            <div class="img-post m-b-15">
                                <img src="{{event.image.url}}" alt="Awesome Image">
                                <div class="social_share">
                                    <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-facebook"></i></button>
                                    <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-twitter"></i></button>
                                    <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-instagram"></i></button>
                                </div>
                            </div>
                            <p>{{event.body}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 right-box">
                    <div class="card widget popular-post">
                        <div class="header">
                            <h2><strong>Popular</strong> Events</h2>
                        </div>
                        {% for events in events.all|slice:"2" %}
                        <div class="body m-b-10">
                            <div class="single_post">
                                <a href="#">
                                    <div class="img-post m-b-5">
                                        <img src="{{events.image.url}}"
                                            alt="Awesome Image">
                                    </div>
                                    <p class="m-b-0">{{events.title}}</p>
                                    <small class="text-muted">{{events.pub_date}}</small>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="card widget tag-clouds">
                        <div class="header">
                            <h2><strong>Tag</strong> Clouds</h2>
                        </div>
                        <ul class="list-unstyled m-b-0">
                            <li><a href="#" class="tag badge badge-default">Design</a></li>
                            <li><a href="#" class="tag badge badge-info">Creative UX</a></li>
                            <li><a href="#" class="tag badge badge-success">Wordpress</a></li>
                            <li><a href="#" class="tag badge badge-warning">HTML5</a></li>
                            <li><a href="#" class="tag badge badge-default">Design</a></li>
                            <li><a href="#" class="tag badge badge-success">Project</a></li>
                            <li><a href="#" class="tag badge badge-success">Wordpress</a></li>
                            <li><a href="#" class="tag badge badge-warning">HTML5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}